body{
    background:#ffffff;
    background-size: cover;
    
}
body h2 h4{
    font-family:'Volkhov',serif;
    font-size:40px;
}
body p{
    font-family: 'Average',serif;
    font-size:30px;
}

header{
    width:1350px;
    height:120px;
}
.full-width1{
    margin:5px;
    padding:10px;
    background-color:#de493c;
    width:1350px;
    height:80px;
}
nav ul{
    list-style-type: none;
    margin:40px;
    padding:0;

}
nav ul li{
    display:inline-block;
}
nav ul li a{
    margin-right:1px;
    margin-left:30px;
    padding-top:35px;
    padding-right:10px;
    padding-left:30px;
    color:#e1b382;
}
.half-width{
    width:660px;
    height:80px;
    float:left;
}
.half-width h3{
    padding-top:5px;
    padding-left:70px;
    padding-bottom:5px;
    color:#e1b382;
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
}

#about.full-width3{
    width:1350px;
    height: 600px;
    padding:100px;
    margin:auto;;
    text-decoration: white;
    background-color: tomato;
    background-size: cover;
    
}
.full-width3 h2{
    font-size:30px;
    padding:10px;
    text-align: center;
    text-decoration:#ffffff;
}
#about.half-width{
    width:1200px;
    height:auto;      
}
#about-me-image{
    padding-left:90px;
    padding-right: 20px;
    float:left;
    width:350px;
    height:350px;
    padding-bottom:100px;
        
}
.half-width p{
    font-size:20px;
    line-height:35px;
    text-align: center;
    padding-left:70px;
    float:left;
    width:605px;
           
}