body{
    background-color:#ffffff;
 
    
}
body h2,h3,h4{
    font-family:'Volkhov',serif;
    font-size:40px;
}

body p{
    font-family: 'Average',serif;
    font-size:30px;
}
header{
    width:1350px;
    height:120px;
}
.full-width1 {
    margin:5px;
    padding:10px;
    background-color:#de493c;
    width:1350px;
    height:80px;
}
nav ul{
    list-style-type: none;
    margin:40px;
    padding:0;

}
nav ul li{
    display:inline-block;
}
nav ul li a{
    margin-right:1px;
    margin-left:30px;
    padding-top:35px;
    padding-right:10px;
    padding-left:30px;
    color:#e1b382;
}
.half-width{
    width:660px;
    height:80px;
    float:left;
}
.half-width h3{
    padding-top:5px;
    padding-left:70px;
    padding-bottom:5px;
    color:#e1b382;
    font-size:30px;
}


#work.html{
    background-color:#ffffff;
    background-size: cover;
    display:block;
    float:center;
    overflow:auto;

}
#work.html.full-width2{
    box-sizing: border-box;
    width:1200px;
    height:1450px;
    background-color: #ffffff;
    
}
.full-width2 h2{
    padding:10px;
    font-size:35px;
    color:#3d3d3d;
    text-align:center;
    background-color: #ffffff;
}
#work h2{
    font-size:30px;
    font-weight: 700;
    padding-left:350px;
    text-align:center;

}
.third-width{
    margin:10px;
    padding:30px;
    float:center;
    vertical-align: auto;
    width:1200px;
    height:450px;
    overflow: auto;
}
.third-width img{
    float:left;
    padding-right:50px;
    width:550px;

    
}
.third-width h4{
    font-size:25px;
    padding:10px;

}
.third-width p{
    padding:10px;
    font-size:22px;
    

}
